/node_modules
/public/hot
/public/storage
/public/js
/public/images
/public/css
/public/modules/multieditor/setka
/public/mix-manifest.json
/storage/*.key
/storage/api-docs
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
package-lock.json
yarn.lock
.phpunit.result.cache
.php_cs.cache
/logs/
/.idea/
